{% load static %}
<footer class="footer__container">
    <div class="footer__content flex-row">
        <a href="https://vk.com/mother_developer" class="footer__icon">
            <img src="{% static 'svg/vk.svg' %}" alt="vk">
        </a>
        <a href="https://vk.com/mother_developer" class="footer__icon">
            <img src="{% static 'svg/inst.svg' %}" alt="inst">
        </a>
        <a href="https://vk.com/mother_developer" class="footer__icon">
            <img src="{% static 'svg/youtube.svg' %}" alt="youtube">
        </a>
        <a href="https://vk.com/mother_developer" class="footer__icon">
            <img src="{% static 'svg/tg.svg' %}" alt="tg">
        </a>
        <span class="footer__text">2024 © Placeholder</span>
    </div>
</footer>