{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Дефолтный заголовок {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        {% include "includes/header.html" %}
        <div class="main">
            {% block content %} Иди своей дорогой, Сталкер {% endblock %}
        </div>
        {% include "includes/footer.html" %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>